In [30]:
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("online_retail.csv")

In [32]:
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [33]:
print("--- Taille du dataset ---")
df.shape

--- Taille du dataset ---

(541909, 8)

In [34]:
print("---Statistiques descriptives---")
print(df.describe().round(2))

---Statistiques descriptives---
        Quantity  UnitPrice  CustomerID
count  541909.00  541909.00   406829.00
mean        9.55       4.61    15287.69
std       218.08      96.76     1713.60
min    -80995.00  -11062.06    12346.00
25%         1.00       1.25    13953.00
50%         3.00       2.08    15152.00
75%        10.00       4.13    16791.00
max     80995.00   38970.00    18287.00

In [35]:
print("\n--- Analyse des valeurs manquantes ---")
print(df.isnull().sum())

--- Analyse des valeurs manquantes ---
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Nettoyage des données

In [37]:
# Création d'une copie 
df_clean = df.copy()

In [41]:
#On remplace les Customer ID nul par un ID commun(0)
df_clean["CustomerID"] = df_clean["CustomerID"].fillna(0)

In [47]:
#On ne garde que les factures positives (On retire les retours où les valeurs aberrantes)
df_clean = df_clean[(df_clean["Quantity"] > 0) & (df_clean["UnitPrice"] > 0 )]

In [ ]:
#Création de la colonne Somme Totale
df_clean["TotalSum"] = df_clean["Quantity"] * df_clean["UnitPrice"]

In [50]:
#Total des ventes 
print(f"Total des ventes : {df_clean['TotalSum'].sum():,.2f} £")

Total des ventes : 10,666,684.54 £

In [ ]:
# Groupement par produit et somme du CA
top_products = df_clean.groupby('Description')['TotalSum'].sum().sort_values(ascending=False).head(10)

print("--- TOP 10 PRODUITS (REVENUS) ---")
print(top_products)

--- TOP 10 PRODUITS (REVENUS) ---
Description
DOTCOM POSTAGE                        206248.77
REGENCY CAKESTAND 3 TIER              174484.74
PAPER CRAFT , LITTLE BIRDIE           168469.60
WHITE HANGING HEART T-LIGHT HOLDER    106292.77
PARTY BUNTING                          99504.33
JUMBO BAG RED RETROSPOT                94340.05
MEDIUM CERAMIC TOP STORAGE JAR         81700.92
Manual                                 78112.82
POSTAGE                                78101.88
RABBIT NIGHT LIGHT                     66964.99
Name: TotalSum, dtype: float64

In [52]:
# On filtre pour exclure UK, puis on groupe par pays
top_countries = df_clean[df_clean['Country'] != 'United Kingdom'].groupby('Country')['TotalSum'].sum().sort_values(ascending=False).head(5)

print("\n--- TOP 5 PAYS INTERNATIONAUX ---")
print(top_countries)

--- TOP 5 PAYS INTERNATIONAUX ---
Country
Netherlands    285446.34
EIRE           283453.96
Germany        228867.14
France         209715.11
Australia      138521.31
Name: TotalSum, dtype: float64